@font-face {
	font-family: "SofiaPro";
	src: url("../fonts/SofiaProExtraLight.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SofiaProExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("../fonts/SofiaProExtraLight.otf") format("opentype"), /* Open Type Font */
	  url("../fonts/SofiaProExtraLight.svg") format("svg"), /* Legacy iOS */
	  url("../fonts/SofiaProExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("../fonts/SofiaProExtraLight.woff") format("woff"), /* Modern Browsers */
	  url("../fonts/SofiaProExtraLight.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "SofiaPro";
	src: url("../fonts/SofiaProRegular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SofiaProRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("../fonts/SofiaProRegular.otf") format("opentype"), /* Open Type Font */
	  url("../fonts/SofiaProRegular.svg") format("svg"), /* Legacy iOS */
	  url("../fonts/SofiaProRegular.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("../fonts/SofiaProRegular.woff") format("woff"), /* Modern Browsers */
	  url("../fonts/SofiaProRegular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
 }



@font-face {
  font-family: "SofiaPro";
  src: url("../fonts/SofiaProMedium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SofiaProMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SofiaProMedium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SofiaProMedium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SofiaProMedium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SofiaProMedium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SofiaProMedium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: "SofiaPro";
	src: url("../fonts/SofiaProBlack.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SofiaProBlack.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("../fonts/SofiaProBlack.otf") format("opentype"), /* Open Type Font */
	  url("../fonts/SofiaProBlack.svg") format("svg"), /* Legacy iOS */
	  url("../fonts/SofiaProBlack.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("../fonts/SofiaProBlack.woff") format("woff"), /* Modern Browsers */
	  url("../fonts/SofiaProBlack.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url("../fonts/SofiaProSemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SofiaProSemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SofiaProSemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SofiaProSemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SofiaProSemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SofiaProSemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SofiaProSemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}

  @font-face {
	  font-family: "SofiaPro";
	  src: url("../fonts/SofiaProBold.eot"); /* IE9 Compat Modes */
	  src: url("../fonts/SofiaProBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/SofiaProBold.otf") format("opentype"), /* Open Type Font */
		url("../fonts/SofiaProBold.svg") format("svg"), /* Legacy iOS */
		url("../fonts/SofiaProBold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/SofiaProBold.woff") format("woff"), /* Modern Browsers */
		url("../fonts/SofiaProBold.woff2") format("woff2"); /* Modern Browsers */
	  font-weight: 700;
	  font-style: normal;
}