@media (min-width: 567px) { 
   .product-box div:nth-child(2n+2) {
/*  border-right: 1px solid #D0D0D0;*/
    border-left: 1px solid #D0D0D0;
}

}
@media (min-width: 992px) { 
       .modal-dialog {

    margin: 17.75rem auto;
    }
    
.body {
    margin-top: 93px;
}
 
    
    .product-box div:nth-child(2n+2) {
        border-right: 0;
        border-left: 0;
    }
    
   .product-box div:nth-child(3n+2) {
  border-right: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
}

    
.nutricook-nav .navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: 3px solid transparent;
}
    
    
.navbar-brand img{
    width: 205px;
}
    
    
.sliderInfo {
    position: absolute;
    top: 0;
    width: 100%;
    top: 35%;
    transform: translateY(-35%);
}
    
    
    
.sliderItem .left{
 float: left;
}
.sliderItem .right{
  float: right;
}

.sliderItem .center{
    margin: 0 auto;
}

.sliderItem .content h3 {
    font-size: 69px;
    }    
.sliderItem .content p {
    font-size: 21px;
        margin-bottom: 45px;
    }
    
    
.reviews .content {
    max-width: 45%;
    }    
    

}