@charset "utf-8";
@font-face {
	font-family: "SofiaPro";
	src: url("fonts/SofiaProExtraLight.eot"); /* IE9 Compat Modes */
	src: url("fonts/SofiaProExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("fonts/SofiaProExtraLight.otf") format("opentype"), /* Open Type Font */
	  url("fonts/SofiaProExtraLight.svg") format("svg"), /* Legacy iOS */
	  url("fonts/SofiaProExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("fonts/SofiaProExtraLight.woff") format("woff"), /* Modern Browsers */
	  url("fonts/SofiaProExtraLight.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "SofiaPro";
	src: url("fonts/SofiaProRegular.eot"); /* IE9 Compat Modes */
	src: url("fonts/SofiaProRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("fonts/SofiaProRegular.otf") format("opentype"), /* Open Type Font */
	  url("fonts/SofiaProRegular.svg") format("svg"), /* Legacy iOS */
	  url("fonts/SofiaProRegular.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("fonts/SofiaProRegular.woff") format("woff"), /* Modern Browsers */
	  url("fonts/SofiaProRegular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
 }
  @font-face {
	  font-family: "SofiaPro";
	  src: url("fonts/SofiaProBold.eot"); /* IE9 Compat Modes */
	  src: url("fonts/SofiaProBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("fonts/SofiaProBold.otf") format("opentype"), /* Open Type Font */
		url("fonts/SofiaProBold.svg") format("svg"), /* Legacy iOS */
		url("fonts/SofiaProBold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("fonts/SofiaProBold.woff") format("woff"), /* Modern Browsers */
		url("fonts/SofiaProBold.woff2") format("woff2"); /* Modern Browsers */
	  font-weight: 600;
	  font-style: normal;
}
@font-face {
	font-family: "SofiaPro";
	src: url("fonts/SofiaProBlack.eot"); /* IE9 Compat Modes */
	src: url("fonts/SofiaProBlack.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("fonts/SofiaProBlack.otf") format("opentype"), /* Open Type Font */
	  url("fonts/SofiaProBlack.svg") format("svg"), /* Legacy iOS */
	  url("fonts/SofiaProBlack.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("fonts/SofiaProBlack.woff") format("woff"), /* Modern Browsers */
	  url("fonts/SofiaProBlack.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: 'SofiaPro';
	font-size: 14px;
	font-weight: 400;
	line-height:1.2;
	color: #fff;
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-position: bottom center;
	background-size:cover;
	-webkit-background-size:cover;
	min-height:100vh;
	margin:0;
	padding:0;
	position:relative;
}
/* body:before {
	content:"";
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.1);
} */
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin:0 0 15px;
	font-weight: 600;
}
img {
	max-width: 100%;
}

/*-------------------------Content Section Css-----------------------------*/
.container {
    padding: 60px 15px 0;
    margin-right: auto;
    margin-left: auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.logo {
	width:400px;
	margin-bottom: 80px;
}
.container h1 {
	float:right;
	text-align:right;
	font-size:30px;
	letter-spacing:1px;
	margin:0;
}
.textbx {
	position:absolute;
	left:15px;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	background: url(../images/cattle.png) no-repeat;
	background-size: 500px;
    background-position: center right;
}
.textbx p {
	font-weight: 300;
	margin-top: 0;
}
.textbx p.creators {
	font-size:28px;
	margin:0 0 10px;
	text-transform: none;
}
.textbx h2 {
	font-size:62px;
	line-height:1;
	margin:0 0 20px;
}
.cattle {
	display: none;
	margin: 25px 0 15px;
}
.cattle img  {
	width: 170px;
	margin-right: -40px;
}
.formbx {
	position:relative;
	margin: 60px 0 0 0;
}
.formbx h3 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}
.formbx p {
	font-size: 20px;
}
.formbx p.success {
	font-size: 16px;
	margin-top: 5px;
}
input {
	line-height: normal
}
.textbx .inputbx,
.textbx .inputbx:focus {
	font-family: "SofiaPro";
	font-size:18px;
	border:1px solid #fff;
	background: none;
	color:#ca9298;
	text-transform:none;
	padding:1px 12px;
	outline:none;
	height:46px;
	width:250px;
	max-width: 100%;
	letter-spacing: 0.5px;
	margin-top: 10px;
}
.textbx .inputbx + .inputbx {
	margin-left: 15px;
}
::-moz-placeholder {
color:#ca9298;
opacity:1
}
:-ms-input-placeholder {
color:#ca9298;
}
::-webkit-input-placeholder {
color:#ca9298;
}
.button {
    border: none;
	background: #fff;
	padding: 0 80px;
	cursor:pointer;
	text-transform: uppercase;
	font-size: 18px;
	height: 46px;
	line-height: 46px;
	display: block;
	margin-top: 22px;
	letter-spacing: 1px;
	width: 250px;
}
.button:hover {
	color:#c92332;
}
.button:focus {
	outline: none;
	text-decoration:none;
}
.mailsuccess {
	font-family: 'Lato', sans-serif;
	color:#060;
	text-transform:none;
	margin-top:10px;
	text-align:center;
}
.social {
	position: absolute;
    bottom: 20px;
    left: 15px;
}
.social label {
	display:block;
	margin:0 0 6px;
}
.social a {
	display:inline-block;
	height:22px;
	margin:0 15px 0 0;
}
.social a:hover {
	opacity:0.8;
}
.social a:last-child {
	margin:0 0px 0 0;
}
.social img {
	height:100%;
}


@media (min-width: 768px) {
.container {
    width: 750px;
}
}
@media (min-width: 992px) {
.container {
    width: 970px;
}
}
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}

/*-----------For Tablet View----------------*/
@media only screen and (max-width:1367px) {
.container {
	padding: 30px 15px 0;
}
.textbx {
    background-size: 400px;
}
.logo {
    width: 300px;
    margin-bottom: 40px;
}
.textbx p.creators {
    font-size: 24px;
}
.textbx h2 {
	font-size: 42px;
	margin-bottom: 15px;
}
.formbx {
    margin: 30px 0 0 0;
}
.formbx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.formbx p {
    margin-top: 10px;
}
.social {
	bottom: 10px;
}
}

/*-----------For Tablet View----------------*/
@media only screen and (max-width:991px) {
body {
	background-position:right -300px center !important;
}
.container {
	padding: 30px 15px 15px;
}
.logo {
	width: 180px;
	margin: 0 0 30px;
}	
.textbx {
	position: static;
	transform: none;
	background: none;
    text-align: center;
}
.textbx p.creators {
    font-size: 18px;
}
.textbx h2 {
	font-size:32px;
	margin-bottom:15px;
}
.cattle {
    display: block;
}
.formbx {
	margin: 30px 0 0 0;
}
.formbx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.formbx p {
    font-size: 14px;
}
.textbx .inputbx + .inputbx {
	margin-left: 0;
	margin-top: 20px;
}
.textbx .inputbx, .textbx .inputbx:focus {
    width: 90%;
}
.button {
    width: 90%;
	margin: 20px auto;
}
}

/*-----------For Mobile View----------------*/
@media only screen and (max-width:767px) {
.container {
	padding: 30px 15px 15px;
	position: relative;
}
.logo {
	width: 180px;
	margin: 0 0 30px;
}	
.textbx {
	position: static;
	transform: none;
	background: none;
    text-align: center;
}
.textbx p.creators {
    font-size: 18px;
}
.textbx h2 {
	font-size:32px;
	margin-bottom:15px;
}
.cattle {
    display: block;
}
.formbx {
	margin: 30px 0 0 0;
}
.formbx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.formbx p {
    font-size: 14px;
}
.textbx .inputbx + .inputbx {
	margin-left: 0;
	margin-top: 20px;
}
.textbx .inputbx, .textbx .inputbx:focus {
    width: 90%;
}
.button {
    width: 90%;
	margin: 20px auto;
}
.social {
	position: static;
	margin-top: 25px;
}
}


























